
#loading {
    top:      43%; /* posicao vertical na tela */
    margin:   -65px 0 0 -45px; /* não é necessário alterar estas margens */ 
}
  
#loading .loading-indicator {
    background: url(./files/loading/12.gif); /* troque aqui o nome do arquivo */
    background-repeat: no-repeat; /* sem essa propriedade a imagem se repete na tela */
    background-position: center; /*centraliza a imagem dentro do container loading-indicator */
    background-size: 100px; /* tamano da animação */
    background-color: transparent; 
    color:      #333; /*Cor do texto (Loading, Carregando) */
    font:       15px arial,helvetica,tahoma; /* Tamanho e tipo da fonte */
    padding:    130px 10px 10px 10px; /* Posicionamento do texto. dependendo do background-size, pode ser necessário reajustar */
    opacity: .7;
    rotate: (45deg);    
}
